//colors
$color_log_cabin_approx: #212121
$mercury: #e5e5e5
$color_mountain_mist_approx: #999
$white: #fff
$color_danube_approx: #5fa2db
$color_bon_jour_approx: #e2e2e2

//fonts
$font_0: Titillium Web
$font_1: arial
$font_2: sans-serif

//urls
$url_0: url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css)
$url_1: url(https://fonts.googleapis.com/css?family=Titillium+Web:300)
$url_2: url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)

//@extend-elements
//original selectors
//nav ul, nav li
.extend_1 
	outline: 0
	margin: 0
	padding: 0



@import $url_0;
@import $url_1;
.fa-2x 
	font-size: 2em

.fa 
	position: relative
	display: table-cell
	width: 60px
	height: 36px
	text-align: center
	vertical-align: middle
	font-size: 20px

.main-menu 
	background: $color_log_cabin_approx
	border-right: 1px solid $mercury
	position: absolute
	top: 0
	bottom: 0
	height: 100%
	left: 0
	width: 60px
	overflow: hidden
	//If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: width .05s linear
	z-index: 1000
	> ul 
		margin: 7px 0
		&.logout 
			position: absolute
			left: 0
			bottom: 0


	li 
		position: relative
		display: block
		width: 250px
		> a 
			position: relative
			display: table
			border-collapse: collapse
			border-spacing: 0
			color: $color_mountain_mist_approx
			font-family: $font_1
			font-size: 14px
			text-decoration: none
			//If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all .1s linear

		&:hover > a 
			color: $white
			background-color: $color_danube_approx


	.nav-icon 
		position: relative
		display: table-cell
		width: 60px
		height: 36px
		text-align: center
		vertical-align: middle
		font-size: 18px

	.nav-text 
		position: relative
		display: table-cell
		vertical-align: middle
		width: 190px
		font-family: $font_0, $font_2


.no-touch 
	.scrollable.hover 
		overflow-y: hidden
		&:hover 
			overflow-y: auto
			overflow: visible


	.dashboard-page nav.dashboard-menu ul li:hover a 
		color: $white
		background-color: $color_danube_approx


a 
	&:hover 
		text-decoration: none

	&:focus 
		text-decoration: none


nav 
	//If you use compass, instead of the line below you could use + user-select($select)
	user-select: none
	ul 
		@extend %extend_1

	li 
		@extend %extend_1

	&.main-menu li.active > a 
		color: $white
		background-color: $color_danube_approx


.dropdown-menu 
	> li > a 
		&:hover 
			color: $white
			background-color: $color_danube_approx

		&:focus 
			color: $white
			background-color: $color_danube_approx


	> .active > a 
		color: $white
		background-color: $color_danube_approx
		&:hover 
			color: $white
			background-color: $color_danube_approx

		&:focus 
			color: $white
			background-color: $color_danube_approx



.area 
	float: left
	background: $color_bon_jour_approx
	width: 100%
	height: 100%

@font-face 
	font-family: $font_0
	font-style: normal
	font-weight: 300
	src: local('Titillium WebLight'), local('TitilliumWeb-Light'), $url_2 format('woff')

:host ::ng-deep button 
	margin-right: .25em

.dashboard-page nav.dashboard-menu ul li.active a 
	color: $white
	background-color: $color_danube_approx