<div class="content-section implementation">
    
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000"><app-tieredmenu ></app-tieredmenu></p-sidebar>
         
    








    <p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
        <h1 style="font-weight:normal">Full Screen Sidebar</h1>
        <button pButton type="button" (click)="visibleSidebar5 = false" label="Save" class="ui-button-success"></button>
        <button pButton type="button" (click)="visibleSidebar5 = false" label="Cancel" class="ui-button-secondary"></button>
    </p-sidebar>

    <button pButton type="button" (mouseover)="visibleSidebar1 = true" icon="pi pi-arrow-right"></button>
    
    <button pButton type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></button>
</div>

